@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Kavivanar&family=Oldenburg&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Syncopate:wght@400;700&display=swap');

:root {
    --color-primario: #1F3B4D;
    --color-secundario: #f1f1f1;
    --color-precios: rgb(136, 2, 2);
    --color-exito: limegreen;
    --color-texto-principal: #000000;
    --color-texto-secundario: #777777;
    --gris-oscuro: #9b9a9a;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Poppins;
}

body{
    background-color: var(--color-secundario);
}

.title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.title2{
    color: var(--color-texto-principal);
    text-shadow: var(--color-texto-secundario) 4px 2px 2px;
    text-align: center;
    margin: 10px 20px 10px 50px;
    font-size: 40px;
    font-weight: 500;
    padding-right: 40px;
}

.subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    color: #555;
    text-align: justify;
    white-space: pre-line; 
}

.icon{
    display: flex;
    justify-content: center;
}


.link-head {
    background-color: var(--color-primario);
    height: 50px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
}


.link-head li{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 15px;
    padding: 5px;
}
.link-head a {
    text-decoration: none;
    color: var(--color-secundario);
}

.info-card{
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 25px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    color: #333;
    line-height: 1.6;
}

.ubi-card{
  max-width: 900px;
  margin: 20px auto ;
  width: 100%;
  padding: 25px 20px;
  background-color: #f4f7f8;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color: #2c3e50;
}

.maps-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.maps-card iframe{
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}
.maps-card iframe:hover {
    transform: scale(1.05);
  }

footer{
    background-color: var(--color-primario);
    height: 100px;
}

.footer-card{
    display: flex;
    justify-content: space-around;
    height: 100px;
}


.info-footer-card li{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 15px;
    font-weight: 300;
}

.info-footer-card a{
    color: var(--color-secundario);
    text-decoration: none;
}

.icon-footer-card{
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 15px;
}


#cartel{
    display: none; 
    background-color: var(--gris-oscuro); 
    color: var(--color-secundario);
    padding: 20px; 
    margin: 20px;
    border-radius: 7px;
}

#cartelAyuda{
    display: none; 
    background-color: var(--gris-oscuro); 
    color: var(--color-secundario);
    padding: 20px; 
    margin: 20px;
    border-radius: 7px;
}

#resultados{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}

.info{
    width: 100%;
    max-width: 300px; 
    padding: 5px;
    font-size: 18px;
    border: 2px solid var(--color-texto-principal); 
    border-radius: 30px; 
}

.boton {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--gris-oscuro);
    color: var(--color-texto-principal);
    border: var(--color-texto-principal) 1px solid;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.boton:hover {
    background-color: var(--color-primario);
  }

.close-btn{
    background-color: var(--gris-oscuro);
    border-radius: 100%;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-texto-principal);
    padding: 0 10px;
    transition:  0.5s ease;
    margin: 10px;
    padding: 7px;
    width: 50px;
}




#resultado{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.car-card {
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color-texto-secundario);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--color-texto-secundario);
}

.car-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.car-model {
    color:var(--color-primario);
    margin-top: 0;
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 10px;
    font-size: 1.5em;
}


.car-detail {
    color: var(--color-primario);
    line-height: 1.6;
    margin: 8px 0;
}

.car-price {
    font-weight: bold;
    color: var(--color-precios);
    font-size: 1.2em;
    margin-top: 15px;
}

.car-description {
    font-style: italic;
    color: #7f8c8d;
    border-top: 1px dashed #bdc3c7;
    padding-top: 10px;
}

.input{
    height: 70px;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    background-color: var(--color-secundario);
}

.login-card{
    background-color: var(--gris-oscuro);
    height: 800px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.mensajeExito{
    color: var(--color-exito);
    font-size: 18px;
    font-weight: bold;
    text-shadow: var(--color-texto-principal) 2px 2px 2px;
    text-align: center;
}

.mensajeError{
    color: var(--color-precios);
    font-size: 18px;
    font-weight: bold;
    text-shadow: var(--color-secundario) 2px 2px 2px;
    text-align: center;
}